@keyframes scrollDownAnimation {
  0% {
    transform: translateY(0);
    opacity: 0; }
  50% {
    opacity: .7; }
  100% {
    transform: translateY(15px);
    opacity: 0; } }
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif; }

.up-button {
  text-align: center;
  position: fixed;
  display: none;
  bottom: 15px;
  right: 15px;
  width: 60px;
  height: 60px;
  background-color: #000051;
  z-index: 2;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
  opacity: .7;
  transition: opacity .2s ease-in; }
  @media all and (max-width: 600px) {
    .up-button {
      width: 45px;
      height: 45px;
      bottom: 5px;
      right: 5px; } }
  .up-button:hover {
    opacity: 1; }
    .up-button:hover .fa-chevron-up {
      transform: translateY(-5px); }
  .up-button .fa-chevron-up {
    width: 100%;
    height: 100%;
    line-height: 60px;
    color: white;
    font-size: 2em;
    text-decoration: none;
    transition: transform .2s ease-in; }
    @media all and (max-width: 600px) {
      .up-button .fa-chevron-up {
        line-height: 45px;
        font-size: 1.6em; } }

.section-header {
  text-align: center;
  font-size: 3em;
  padding-top: 50px;
  padding-bottom: 20px;
  z-index: 1; }
  @media all and (max-width: 600px) {
    .section-header {
      font-size: 2.2em; } }
  @media all and (min-width: 601px) and (max-width: 900px) {
    .section-header {
      font-size: 2.5em; } }

.home-section {
  height: 100vh;
  width: 100%;
  background-image: url("./../img/home-bg.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative; }
  .home-section__overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #000051;
    opacity: .8;
    z-index: 0; }
  .home-section__content {
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 1; }
    @media all and (max-height: 500px) {
      .home-section__content {
        top: 15%; } }
    @media all and (min-height: 501px) and (max-height: 700px) {
      .home-section__content {
        top: 20%; } }
    @media all and (max-width: 500px) {
      .home-section__content {
        width: 70%;
        margin: 0 auto; } }
    @media all and (min-width: 501px) and (max-width: 600px) {
      .home-section__content {
        width: 80%;
        margin: 0 auto; } }
    @media all and (min-width: 601px) and (max-width: 900px) {
      .home-section__content {
        width: 90%;
        margin: 0 auto; } }
  .home-section__author {
    font-weight: 400;
    font-size: 4em; }
    @media all and (max-height: 500px) {
      .home-section__author {
        font-size: 2.6em; } }
    @media all and (max-width: 500px), (max-height: 500px) {
      .home-section__author {
        font-size: 2.6em; } }
    @media all and (min-width: 501px) and (max-width: 600px) {
      .home-section__author {
        font-size: 3em; } }
    @media all and (min-width: 601px) and (max-width: 900px) and (min-height: 501px) {
      .home-section__author {
        font-size: 3.5em; } }
    @media all and (min-width: 1501px) and (max-width: 1800px) {
      .home-section__author {
        font-size: 4.5em; } }
    @media all and (min-width: 1801px) {
      .home-section__author {
        font-size: 5em; } }
  .home-section__author-info {
    font-weight: 300;
    font-size: 2em;
    margin-top: 20px; }
    @media all and (max-width: 500px), (max-height: 500px) {
      .home-section__author-info {
        font-size: 1.4em; } }
    @media all and (min-width: 501px) and (max-width: 600px) {
      .home-section__author-info {
        font-size: 1.5em; } }
    @media all and (min-width: 601px) and (max-width: 900px) and (min-height: 501px) {
      .home-section__author-info {
        font-size: 1.7em; } }
    @media all and (min-width: 1501px) and (max-width: 1800px) {
      .home-section__author-info {
        font-size: 2.5em; } }
    @media all and (min-width: 1801px) {
      .home-section__author-info {
        font-size: 3em; } }
  .home-section .navigation {
    width: 30%;
    margin: 0 auto;
    margin-top: 80px;
    list-style: none;
    display: inline-flex;
    justify-content: center; }
    @media all and (max-height: 500px) {
      .home-section .navigation {
        margin-top: 40px; } }
    .home-section .navigation__item {
      border: 2px solid white;
      background-color: rgba(255, 255, 255, 0);
      transition: background-color .2s ease-in; }
      .home-section .navigation__item:first-child {
        margin-right: 10%; }
      .home-section .navigation__item:last-child {
        margin-left: 10%; }
      .home-section .navigation__item:hover {
        background-color: white; }
    .home-section .navigation__link {
      color: white;
      text-decoration: none;
      display: inline-block;
      width: 150px;
      height: 40px;
      line-height: 40px;
      transition: color .2s ease-in; }
      @media all and (min-width: 1501px) and (max-width: 1800px) {
        .home-section .navigation__link {
          width: 180px;
          height: 45px;
          line-height: 45px;
          font-size: 1.5em; } }
      @media all and (min-width: 1801px) {
        .home-section .navigation__link {
          width: 200px;
          height: 50px;
          line-height: 50px;
          font-size: 1.5em; } }
      .home-section .navigation__link:hover {
        color: #000051; }
  .home-section .social {
    margin: 0 auto;
    margin-top: 50px;
    display: inline-flex;
    justify-content: center;
    list-style: none;
    width: 100%; }
    @media all and (max-height: 500px) {
      .home-section .social {
        margin-top: 25px; } }
    @media all and (min-width: 1501px) and (max-width: 1800px) {
      .home-section .social {
        margin-top: 80px; } }
    @media all and (min-width: 1801px) {
      .home-section .social {
        margin-top: 100px; } }
    .home-section .social__item {
      border-bottom: solid 2px rgba(255, 255, 255, 0);
      transition: border .2s ease-in;
      margin: 0 15px; }
      @media all and (min-width: 1501px) {
        .home-section .social__item {
          font-size: 1.3em;
          margin: 0 40px; } }
      .home-section .social__item:hover {
        border-bottom-color: white; }
    .home-section .social__link {
      color: white;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      padding: 10px 15px; }
      .home-section .social__link .fab, .home-section .social__link .far {
        font-size: 2em;
        margin-right: 10px; }
        @media all and (max-width: 600px) {
          .home-section .social__link .fab, .home-section .social__link .far {
            font-size: 1.5em;
            margin-right: 5px; } }
    .home-section .social__link-name {
      margin-left: 5px; }
      @media all and (max-width: 600px) {
        .home-section .social__link-name {
          margin-left: 2px;
          font-size: 0.9em; } }
  .home-section .scroll-down-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    text-align: center;
    z-index: 1; }
  .home-section .scroll-down {
    text-decoration: none;
    color: white; }
    .home-section .scroll-down:hover span {
      opacity: 1; }
    .home-section .scroll-down span {
      font-size: 0.9em;
      letter-spacing: 1px;
      opacity: .5; }
    .home-section .scroll-down .fa-chevron-down {
      font-size: 1.2em;
      animation-name: scrollDownAnimation;
      animation-iteration-count: infinite;
      animation-duration: 1.5s; }

.projects-section {
  width: 100%;
  padding-bottom: 50px; }

.categories-list {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  margin-bottom: 30px; }
  @media all and (max-width: 600px) {
    .categories-list {
      flex-wrap: wrap; } }

.category {
  padding: 5px 15px;
  margin: 0 10px;
  font-size: 1.4em;
  cursor: pointer;
  transition: all .2s ease-in;
  border-bottom: 3px solid transparent; }
  @media all and (max-width: 600px) {
    .category {
      font-size: 1em;
      padding: 5px; } }
  @media all and (min-width: 601px) and (max-width: 900px) {
    .category {
      font-size: 1.2em;
      margin: 0 5px; } }
  .category:hover, .category.category--active {
    border-color: #000051; }

.projects-container {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 13px; }
  @media all and (max-width: 600px) {
    .projects-container {
      width: 80%; } }
  @media all and (max-width: 800px) {
    .projects-container {
      grid-template-columns: 1fr; } }
  @media all and (min-width: 801px) and (max-width: 1200px) {
    .projects-container {
      width: 80%; } }

.project {
  width: 100%;
  position: relative;
  display: block;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5); }
  .project:hover .project__info {
    opacity: 1; }
  .project__image {
    width: 100%;
    display: block; }
  .project__info {
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: rgba(0, 0, 81, 0.85);
    opacity: 0;
    transition: opacity .2s ease-in; }
  .project__name {
    font-size: 1.7em; }
    @media all and (max-width: 1000px) {
      .project__name {
        font-size: 1.5em; } }
    @media all and (min-width: 1801px) {
      .project__name {
        font-size: 2em; } }
  .project__description {
    font-size: 0.9em;
    width: 80%;
    margin: 0 auto; }
    @media all and (min-width: 1801px) {
      .project__description {
        font-size: 1.3em; } }
    @media all and (min-width: 1501px) and (max-width: 1800px) {
      .project__description {
        font-size: 1.1em; } }
    .project__description a, .project__description a:visited {
      color: white; }
  .project__tags {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    @media all and (max-width: 500px) {
      .project__tags {
        display: none; } }
    @media all and (min-width: 801px) and (max-width: 1000px) {
      .project__tags {
        display: none; } }
  .project__tag {
    background-color: white;
    font-size: 0.8em;
    color: #000051;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 8px;
    border-radius: 5px; }
    @media all and (min-width: 1801px) {
      .project__tag {
        font-size: 0.95em; } }
    .project__tag--finished {
      background-color: green;
      color: white; }
    .project__tag--inprogress {
      background-color: orange;
      color: white; }
  .project__link {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 0.9em;
    font-weight: 700;
    border: solid 2px white;
    position: relative;
    z-index: 2; }
    @media all and (min-width: 1801px) {
      .project__link {
        font-size: 1.1em;
        padding: 8px 30px; } }
    .project__link:first-child {
      margin-right: 5px; }
      @media all and (min-width: 1801px) {
        .project__link:first-child {
          margin-right: 10px; } }
    .project__link:last-child {
      margin-left: 5px; }
      @media all and (min-width: 1801px) {
        .project__link:last-child {
          margin-left: 10px; } }
    .project__link:hover {
      color: #000051; }
      .project__link:hover:before {
        width: 100%; }
    .project__link:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      z-index: -1;
      background-color: white;
      transition: width .2s ease-in; }

.skills-section {
  width: 100%;
  color: white;
  background-image: url("./../img/skills-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; }
  .skills-section__wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.5); }
  .skills-section__category {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-box-shadow: 4px 4px 10px -2px black;
    -moz-box-shadow: 4px 4px 10px -2px black;
    box-shadow: 4px 4px 10px -2px black; }
    @media all and (max-width: 1200px) {
      .skills-section__category {
        width: 80%; } }
    .skills-section__category--grid .skills-section__category-list {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: repeat(6, 1fr);
      justify-items: stretch; }
      @media all and (max-width: 600px) {
        .skills-section__category--grid .skills-section__category-list {
          grid-template-rows: auto auto auto;
          grid-template-columns: repeat(4, 1fr); } }
    .skills-section__category--grid .skills-section__skill {
      padding: 30px 0;
      justify-self: stretch;
      display: flex;
      justify-content: center; }
  .skills-section__category-header {
    background-color: #00001f;
    text-align: center;
    padding: 10px 0; }
  .skills-section__category-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #111110; }
  .skills-section__skill {
    padding: 30px 40px;
    position: relative;
    transition: all .2s ease-in; }
    @media all and (max-width: 600px) {
      .skills-section__skill {
        padding: 30px; } }
    .skills-section__skill--name {
      display: inline-block;
      text-align: center;
      font-size: 0.9em;
      position: absolute;
      bottom: 20%;
      left: 0;
      right: 0;
      opacity: 0;
      transition: all .2s ease-in; }
      @media all and (max-width: 900px) {
        .skills-section__skill--name {
          font-size: 0.8em; } }
    .skills-section__skill i {
      font-size: 4em;
      display: inline-block;
      transition: all .2s ease-in-out; }
      @media all and (max-width: 900px) {
        .skills-section__skill i {
          font-size: 3em; } }
    .skills-section__skill:hover {
      background-color: #070707; }
      .skills-section__skill:hover .skills-section__skill--name {
        bottom: 8%;
        opacity: 1; }
      .skills-section__skill:hover i {
        transform: translateY(-10px); }

.footer-section {
  width: 100%;
  background-color: #111110;
  padding: 20px 0;
  border-top: 1px solid white; }
  .footer-section__content {
    width: 70%;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: solid 2px white;
    border-right: solid 2px white; }
    @media all and (max-width: 550px) {
      .footer-section__content {
        padding: 10px 0;
        flex-direction: column; } }
    @media all and (max-width: 1200px) {
      .footer-section__content {
        width: 80%; } }
  .footer-section__copyright {
    font-size: 0.9em; }
    @media all and (max-width: 550px) {
      .footer-section__copyright {
        margin-bottom: 20px; } }
    @media all and (max-width: 600px) {
      .footer-section__copyright {
        font-size: 0.8em; } }
  .footer-section__link {
    display: inline-block;
    font-size: 2em;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: all .3s ease-in; }
    @media all and (max-width: 550px) {
      .footer-section__link {
        margin: 0 15px; } }
    @media all and (max-width: 600px) {
      .footer-section__link {
        font-size: 1.5em; } }
    .footer-section__link:hover {
      transform: rotateX(360deg);
      transition: all .3s ease-in; }
    .footer-section__link:visited {
      color: white; }

/*# sourceMappingURL=style.css.map */
