.footer-section {
    width: 100%;
    background-color: $color-cod-gray;
    padding: 20px 0;
    border-top: 1px solid white;
    &__content {
        width: 70%;
        margin: 0 auto;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-left: solid 2px white;
        border-right: solid 2px white;

        @media all and (max-width: 550px) {
            padding: 10px 0;
            flex-direction: column;
        }

        @media all and (max-width: 1200px) {
            width: 80%;
        }

    }
    &__copyright {
        font-size: 0.9em;

        @media all and (max-width: 550px) {
            margin-bottom: 20px;
        }

        @media all and (max-width: 600px) {
            font-size: 0.8em;
        }
    }
    &__link {
        display: inline-block;
        font-size: 2em;
        color: white;
        text-decoration: none;
        margin: 0 10px;
        transition: all .3s ease-in;

        @media all and (max-width: 550px) {
            margin: 0 15px;
        }

        @media all and (max-width: 600px) {
            font-size: 1.5em;
        }

        &:hover {
            transform: rotateX(360deg);
            transition: all .3s ease-in;
        }

        &:visited {
            color: white;
        }
    }
}