.skills-section {
    width: 100%;
    color: white; // background-image: url('./../img/zwartevilt.png');
    background-image: url('./../img/skills-bg.jpg');
    background-size: cover;
    background-position: center;
    &__wrapper {
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
        background-color: rgba($color: black, $alpha: 0.8);
    }
    &__category {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 30px;
        -webkit-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 1);
        -moz-box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 1);
        box-shadow: 4px 4px 10px -2px rgba(0, 0, 0, 1);
        &--grid {
            .skills-section__category-list {
                display: grid;
                grid-template-rows: auto auto;
                grid-template-columns: repeat(6, 1fr);
                justify-items: stretch;
            }
            .skills-section__skill {
                padding: 30px 0;
                justify-self: stretch;
                display: flex;
                justify-content: center;
            }
        }
    }
    &__category-header {
        background-color: $color-black-russian;
        text-align: center;
        padding: 10px 0;
    }
    &__category-list {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: $color-cod-gray;
    }
    &__skill {
        padding: 30px 40px;
        position: relative;
        transition: all .2s ease-in;
        &--name {
            display: inline-block;
            text-align: center;
            font-size: 0.9em;
            position: absolute;
            bottom: 20%;
            left: 0;
            right: 0;
            opacity: 0;
            transition: all .2s ease-in;
        }
        i {
            font-size: 4em;
            display: inline-block;
            transition: all .2s ease-in-out;
        }
        &:hover {
            background-color: #070707;
            .skills-section__skill--name {
                bottom: 8%;
                opacity: 1;
            }
            i {
                transform: translateY(-10px);
            }
        }
    }
}