* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.section-header {
    text-align: center;
    font-size: 3em;
    padding-top: 50px;
    padding-bottom: 20px;
    z-index: 1;
}

@import 'config';
@import 'home-section';
@import 'projects-section';
@import 'skills-section';
@import 'footer-section';