* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.section-header {
    text-align: center;
    font-size: 3em;
    padding-top: 50px;
    padding-bottom: 20px;
    z-index: 1;

    @media all and (max-width: 600px) {
        font-size: 2.2em;
    }

    @media all and (min-width: 601px) and (max-width: 900px) {
        font-size: 2.5em;
    }
}

@import 'config';
@import 'home-section';
@import 'projects-section';
@import 'skills-section';
@import 'footer-section';